<%= render  "shared/header" %>
<div class="d-flex flex-column">
  <h3 class="text-center">最新の投稿</h3>
  <% @post.each do |post| %>
    <div class="p-2 m-2 border border-dark d-flex flex-column">
      <p>投稿者： <%= link_to  post.user.nickname, "#", class: "font-italic text-dark" %></p>
      <p>タイトル： <%= link_to  post.title, post_path(post.id), class: "text-dark" %></p>
      <p>高評価数： <%= post.liked_users.count %></p>
      <div class="d-flex flex-row">
        <p>タグ：</p>
        <% post.tags.each do |tag| %>
          <div class="m-1"><%= tag.name %></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= render  "shared/footer" %>